.header__container {
    margin-top: 67px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    gap: 40px;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header__nav a {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $dark;
    padding-bottom: 20px;
    border-bottom: 3px solid transparent;
    flex: none;
    order: 1;
    flex-grow: 0;

    &:hover {
        color: $sky;
        border-bottom: 3px solid $sky;
        cursor: pointer;
    }
}

.main__container {
    margin: 100px auto;
}

